<h1>Frontend Skilz</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <p><%= comment.votes.count %>|
      <%= form_for @post.upvotes.build do |f| %>
        <%= f.hidden_field :user, value: current_user %>
        <%= f.submit 'Upvote', class: 'upvote-submit' %>
      <% end %>
      
      <%= comment.body %>
    </p>
  <% end %>
  <h1>Say something</h1>
  <%= render partial: 'partials/form' %>
</div>